<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="MyFork Web Test Suite" parallel="tests" thread-count="3">
    <test name="Functional">
        <classes>
            <class name="testcases.HomepageTest"/>
            <class name="testcases.LoginTest"/>
            <class name="testcases.SignupTest"/>

        </classes>
    </test>
    <test name="Acceptance">
        <classes>
            <class name="testcases.HardAssertions"/>
        </classes>
    </test>
</suite>

